.slider-container {
  padding: 20px 40px 20px 40px;
}
.slider-container img {
  width: 100%;
}
#slider {
  position: relative;
  height: 500px;
}
#slider .sl {
  position: absolute;
  top: 0px; left: 0px;
  display: block;
}
.caption {
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 120px;
  border-radius: 5px;
  background:rgba(0,0,0,0.5);
  height: 90px;
}
.point {
  padding-top: 10px;
  padding-left: 10px;
}
.point a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.3em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 20pt;
  font-weight: bold;
  color: #ffffff;
  border-radius: 100%;
}
.point a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  border-radius: 100%;
  background: rgba(23, 23, 21, 0.81);
}
.point a:visited,
.point a:link {
  color: #ffffff;
  text-decoration: none;
}
.text-block {
  padding-top: 10px;
  font-size: 24px;
  color: white;
}
.button-block {
  padding-top: 20px;
  padding-right: 20px;
}
.button-block {
}
.button-block a {
  position: relative;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px #ffffff;
  font-size: 16pt;
  font-weight: bold;
  color: #591d00;
  outline: none;
  float: right;
  border-radius: 5px;
  box-shadow: 0 3px rgba(255, 255, 255, 0.36) inset, 0 0 5px 5px rgba(0,1,6,.2);
  background: linear-gradient(#f9ca4f, #f2ab60 48%, #d88c22 52%, #f9ca4f);
}
.button-block a:active {
  top: 1px;
  left: 1px;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.button-block a:hover {
  color: #591d00;
  text-decoration: none;
}
.button-block a:visited,
.button-block a:link {
  color: #591d00;
  text-decoration: none;
}